
.example-container {
    height: 100%;
    // width: 400px;
    // margin: 12px;
    // border: 1px solid #555;
}

mat-drawer {
    width: 235px;
    // padding: 0px 10px;
    .option_title {
        background: #673ab7;
        color: #fff;
        min-height: 50px;
        align-items: center;
        margin: auto;
        display: flex;
        font-size: 18px;
        padding: 0 16px;
    }
}
    
mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // scroll style 
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav {
    min-height: 50px;
    position: sticky;
    height: 50px;
    display: flex;
    z-index: 1;
    transition: top 0.3s;
    top: 0px;
    padding-left: 1px;
}

.nav.hide-nav {
    /* You can play on opacity for nice transitions*/
    top: -50px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-selection-list {
    padding: 0;
}

mat-card {
    max-width: 60%;
    min-width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3%;
}


.question {
    .que {
        margin-bottom: 5px;
    }
}
.answer {
    .text {
        
    }
}
.search_box {
    width: 400px;
    // margin: auto;
    position: absolute;
    left: calc(50% - 200px);
    .search_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding: 0px 0px;
        input {
            background: none;
            border: none;
            outline: none;
            color: #fff;
            text-decoration: none;
        }
        input::placeholder {
        color: #fff;
        /* Firefox */
        } 
        input:-ms-input-placeholder  {
        color: #fff;
        /* Internet Explorer 10-11 */
        } 
        input::-ms-input-placeholder {
        color: #fff;
        /* Microsoft Edge */
        } 
        
    }
}

@media (max-width: 768px) {
    .nav {
        padding-left: 3px;
    }
   
    mat-card {
        max-width: 90%;
        min-width: 90%;
        margin-bottom: 20%;
    }
    .search_box {
        // position: unset;
    }
    
}

@media (max-width: 420px) {
    .nav {
        padding-left: 3px;
    }
    .search_box {
        margin-left: 2px;
        position: unset;
    }
    mat-card {
        max-width: 85%;
        min-width: 85%;
        margin-bottom: 20%;
    }
    
}


.table_div {
    max-width: 100%;
    overflow: auto;
    table {
        // font-family: arial, sans-serif;
        border-collapse: separate;
        width: 100%;
    }
    td, th {
        width: 50%;
        padding: 10px 5px;
        word-break: break-word;
    }
    td {
        text-align: left;
        
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
