<mat-drawer-container class="example-container" hasBackdrop="true">
  <!-- side nav -->
  <mat-drawer #drawer mode="over">
    <div *ngIf="!showTitle" class="option_title">{{title}}</div>
    <mat-selection-list #que_options [multiple]="false" 
    (selectionChange)="optionChange(que_options.selectedOptions.selected[0]?.value)"
    (click)="optionClick();drawer.toggle()">
      <mat-list-option *ngFor="let option of options" [value]="option.value">
        {{option.label}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <!-- main content -->
  <mat-drawer-content (scroll)="onScroll($event)"  id="drawer_content">
    <!-- header -->
    <mat-toolbar class="nav" color="primary" [class.hide-nav]="hideNav">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="showTitle">{{title}}</span>
      <!-- <span class="example-spacer" *ngIf="showTitle"></span> -->
      <div class="search_box">
        <span class="search_input">
          <input type="text" class="input_box" placeholder="Search Question..." 
          [(ngModel)]="searchInput" (input)="onUpdateFilter()">
          <mat-icon *ngIf="searchInput == ''">search</mat-icon>
          <mat-icon style="cursor: pointer;" *ngIf="searchInput != ''" 
          (click)="searchInput = '';onUpdateFilter()">close</mat-icon>
        </span>
      </div>
    </mat-toolbar>
    <!-- main content  -->
    <mat-card *ngIf="questions.length >= 1">
      <div class="content" *ngFor="let que of questions; let i=index">
        <div class="question">
          <h2 class="que">{{i+1}}. {{que.que}}</h2>
        </div>
        <div class="answer">
          <div class="text" *ngIf="que.ans" [innerHtml]="que.ans"></div>
          <div class="text" *ngIf="que.syntax"></div>
          </div>
      </div>
    </mat-card>
    <h2 *ngIf="questions.length < 1" style="margin: 80px auto;font-weight: 300;">No Questions found</h2>
  </mat-drawer-content>
</mat-drawer-container>